{% extends 'base.html.twig' %}

{% block title %}Découverte d'artistes{% endblock %}

{% block body %}
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
        </div>
        {{ form_start(artistForm, {'attr': {'class': 'form-horizontal'}}) }}
            <h2>Vous ne savez pas quoi écouter en ce moment? </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(artistForm.artistQuery, 'Recherche d\'artistes similaires à:', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(artistForm.artistQuery, {'attr': {'class': 'form-control', 'placeholder': 'Madonna'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(artistForm.submit, {'attr': {'class': 'btnContact', 'value': 'Rechercher'}}) }}
                    </div>
                </div>
            </div>
        {{ form_end(artistForm) }}

        {% if artistSuggestions is not null %}
            <div class="artist-suggestions">
                <h2>Suggestions d'artistes :</h2>
                <ul class="list-group">
                    {% for artist in artistSuggestions %}
                        <li class="list-group-item">{{ artist }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}